#cart-title{
    text-align: center;
}

#cartpage-container{
    border: 1px solid black;
    width: 100%;
    height: 39rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart-container{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 7fr;
    height: 30rem;
    width: 25rem;
}

#name-text{
    text-align: center;
}

#border-line{
    height: 0.1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    align-items: center;
}

#order-item{
    display: grid;
    grid-template-columns: 6fr 1.5fr 1fr 1fr;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

#id-text{
    display: none;
}

#quantity-buttons{
    display: flex;
    flex-direction: row;
}
