#cart-title{
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255, 0.8);
}

#cartpage-container{
    border: 1px solid black;
    width: 100%;
    height: 39rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("src/assets/jeff-sheldon-Lj1S1_KD61k-unsplash.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#cart-container{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 7fr;
    height: 30rem;
    width: 25rem;
    background-color: rgb(255, 255, 255, 0.8);
}

#name-text{
    text-align: center;
}


#item-name{
    font-size: 0.8rem;
    margin-left: 1rem;
}

#border-line{
    height: 0.1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    align-items: center;
}

#order-item{
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 1fr;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    place-items: center;
}

#id-text{
    display: none;
}

#quantity-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}


.btn-quantity{
    height: 2rem;
}

#total-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#shopping-cart-empty-txt{
    text-align: center;
}