#shopping-container{
    border: 1px solid black;
    width: 100%;
    height: 39rem;
    background-image: url("/dinh-ng-jYz3EGBhDpk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

#shopping-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0.3rem;
    place-items: center;
    width: 63rem;
}

.product-card{
    width: 13rem;
    height: 15rem;
    display: grid;
    grid-template-rows: 5fr 0.5fr 2.5fr;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name{
    font-size: 0.8rem;
    font-weight: bold;
    overflow: hidden;
    margin-right: 0.2rem;
}

.product-image{
    width: 8rem;
    height: 6rem;
}

#name-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 12.6rem;
    height: 4.5rem;
}

#button-quantity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
}

.add-to-cart-button{
    width: 100%;
    height: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.add-to-cart-button:hover{
    background-color: rgba(128, 128, 128, 0.8);
}

#quantity-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13rem;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.quantity-btn{
    width: 3rem;
    height: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.quantity-btn:hover{
    background-color: rgba(128, 128, 128, 0.8);
}

.quantity-input{
    width: 8rem;
    height: 1.5rem;
    text-align: center;
    border: none;
}

.loading-text{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    animation: pulse 1s infinite alternate;
    grid-column-start: 2; 
    grid-column-end: 4;
}

@keyframes pulse {
    0% {
        font-size: 1.5rem;
    }
    100% {
        font-size: 2.5rem;
    }
}