#navbar-container {
    width: 100%;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#logo-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#links-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border: 1px solid black;
}

li a {
    text-decoration: none;
    color: black;
}

#cart-total{
    display: none;
}

