#navbar-container {
    width: 100%;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
}

#links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: auto;
    margin-right: 0.5rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid black;
    width: 6rem;
    height: 2rem;
    justify-content: center;
}

#navbar-logo{
    display:none;
}

#cart-total{
    display: none;
}

